html, body {
    overflow-y: auto;
}

body::-webkit-scrollbar {
    display: none;
}

#body {
    background: url(../images/background/2000-25-120.png) no-repeat;
    background-size: cover; 
}

#page_container {
    padding: 3% 3%;
    height: 100%;
}

#info_container {
    border: 1px solid black;
    border-radius: 25px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: white;
}

#info_container #info_header {
    text-align: center;
    height: 12%;
    font-size: 3vw;
    background-color: lightgrey;
    margin-bottom: 2%;
}

#info_container #image_div {
    text-align: center;
    margin: 0 5%;
}

#info_container #image_div img {
    width: 30%;
}

#info_container #info_div {
    overflow-y: scroll;
    margin: 2% 5%;
    font-size: 1.5vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
}

#info_container #info_div::-webkit-scrollbar {
    display: none;
}

#info_container #info_div #description {
    text-align: justify;
}

#info_container #info_div #no_description {
    text-align: center;
    margin: auto;
}

#info_container #info_div #read_more {
    text-align: center;
    font-style: italic;
    font-size: 3vw;
}

.buttons_div {
    width: 100%;
    height: 20%;
    display: inline-flex;
    justify-content: center;
}

.buttons_div .save_button {
    background-color: green;
    border-color: green;
    display: inline-block;
    margin:0 5% 2% 5%;
}

.buttons_div .vote_badge {
    background-color: darkgray;
    color: white;
    margin-left: 10%;
}

.btn-primary {
    background-color: lightgrey;
    border-color: lightgrey;
    display: inline-block;
    margin:0 5% 2% 5%;
}

.btn-primary:active {
    background-color: green;
    border-color: green;
}

.btn-primary:hover {
    background-color: green;
    border-color: green;
}

#warning {
    text-align: center;
    margin: auto;
    width: 100%;
    display: block;
    font-size: 2vw;
    margin-bottom: 2%;
}

/* Smartphone */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    html, body {
        height: 100%;
    }

    #info_container #info_header {
        font-size: 7vw;
    }

    #info_container #info_div {
        margin: 3% 10% 10% 10%;
        font-size: 3vw;
        height: 80vw;
    }

    #info_container #image_div img {
        width: 50%;
    }

    #info_container #info_div #read_more {
        font-size: 5vw;
    }

    #bottom_buttons {
        bottom: 0;
        width: 100%;
    }

    #warning {
        font-size: 4vw;
    }
}
