html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#body {
    background: url(../images/background/2000-25-120.png) no-repeat;
    background-size: cover; 
}

#fixed_back {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

#back {
    flex: none;
    margin-bottom: 1%;
    border-radius: 25px;
    background-color: white;
    opacity: 0.7;
    margin: 5%;
}

.title {
	display: block;
	font-size: 3vw;
	margin: auto;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}

.title .back_btn {
    display: inline-block;
    margin-left: 4%;
    font-size: 3vw;
    color: dodgerblue;
    text-align: left;
    float: left;
}

.title h3 {
	margin: 0;
	margin-right: 5%;
	display: inline-block;
	font-size: 4vw;
	vertical-align: middle;
}

.title .back_btn:hover {
	color: lightblue;
}

#votes_table {
	border-radius: 20px;
    overflow-y: auto;
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

#votes_table::-webkit-scrollbar { 
  display: none;
}

table {
	width: 100%;
	table-layout: fixed;
	font-size: 2vw;
}

th:last-child {
	border-right: 0px;
}

tr:first-child {
	background-color: lightgrey;
}

tr:last-child td {
    border-bottom: 0px;
}

td {
	padding: 2% 0;
	text-align: center;
	border: 1px solid;
}

td:first-child {
	border-left: 0px;
	padding: 1%;
}

td:nth-child(2) {
	padding: 2% 2%;
	overflow:hidden; 
	text-overflow:ellipsis;
}

td:last-child {
	border-right: 0px;
}

td img {
	margin-right: 5%;
	border-radius: 50%;
}

th {
	text-align: center;
	margin-bottom: 2%;
	border-right: 1px solid;
}

td .btn {
	width: 40%;
	display: block;
	margin: auto;
	font-size: 2vw;
}

#link_button {
	background-color: green;
	margin-bottom: 5%;
}

#delete_button {
	background-color: red;
}


/*Smartphone*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
	#fixed_back {
		height: 85%;
	}

	.title .back_btn {
        font-size: 6vw;
        margin-left: 0;
        padding-top: 3%; 
    }

	.title h3 {
		margin: 4% 0;
		margin-right: 15%;
		font-size: 6vw;
		vertical-align: middle;
	}

	table {
		font-size: 4vw;
	}

	td .btn {
		width: 65%;
		font-size: 4vw;
	}
}

@media only screen 
and (min-width: 1025px) {
	.title h3 {
		vertical-align: middle;
	}
}